<!-- ================= HEADER / NAVBAR ================= -->
<nav class="navbar">

  <div class="logo">
    <h1>BitLinux</h1>
  </div>

  <ul class="nav-links">
    <li><a href="index.html">Home</a></li>
    <li><a href="#" class="protected-link" data-target="pages/hosting.html">Hosting</a></li>
    <li><a href="#" class="protected-link" data-target="pages/learning.html">Learn</a></li>
    <li><a href="#" class="protected-link" data-target="blog/index.html">Blog</a></li>
    <li class="dropdown">
      <a href="#">More <i class="fa-solid fa-caret-down"></i></a>
      <ul class="dropdown-menu">
        <li><a href="#" class="protected-link" data-target="pages/docs.html">Docs</a></li>
        <li><a href="#" class="protected-link" data-target="pages/pricing.html">Pricing</a></li>
        <li><a href="#" class="protected-link" data-target="pages/contact.html">Contact</a></li>
        <li><a href="#" class="protected-link" data-target="pages/faq.html">FAQ</a></li>
      </ul>
    </li>
  </ul>

  <div class="nav-actions">
    <a href="pages/sign-up.html" class="btn">Get Started</a>
  </div>

  <!-- Hamburger -->
  <div class="hamburger">
    <span></span>
    <span></span>
    <span></span>
  </div>

        </nav>
